.env
env/
github_datapipelines
*.pub
*.keys
data/*
sample_data.txt
*.log
input/
output/
.ipynb_checkpoints/
iceberg_catalog/
*.db
*.parquet
env_iceberg/
sample_data/
submit_job.sh
submit_bronze.sh
example_submit.sh
bronze_job.yaml
pipeline_config.yaml
.env
env/
iceberg_catalog/

